.beast {
  display: flex;
  align-items: center;
  padding-block: 100px;
  min-height: 750px;
  background-image: image-set(
    url('./../../img/beast/beast-bg.jpg') 1x,
    url('./../../img/beast/beast-bg.jpg@2x') 2x
  );
  background-position: left top; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_descr {
    // font-size: 22px;
    @include fluid-font-size(18px, 22px);
    line-height: 1.5;
  }

  &__cta {
    padding-block-start: 20px;
  }

  @include respond('tablet') {
    min-height: auto;
    height: auto;
    background-position: center top; /* x y */
  }
}
